.table-wrapper {
    height: 75vh;
    width: 75vw;
    min-width: 100%;
    background-color: blue;
    border-radius: 30px;
    margin: 5px;
    overflow-y: auto;
}

th, td {
    text-align: center;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    vertical-align: middle;
    height: 60px;
}

#add-success-alert,
#update-success-alert,
#delete-success-alert {
    display: none;
}

#add-success-alert,
#update-success-alert,
#delete-success-alert {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* Só para garantir compatibilidade de navegador */
@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
