.navbar {
    justify-content: center !important;
}

.bg-light{
    background-color: #004aad !important;
    /* background-color: #ffffff !important; */
}

.white-bar {
    background-color: #ffffff;
    width: 100vw;
    height: 5px;
}

nav a img {
    width: 125px;
}